/* CSS Document */

/***********
Fonts
font-family: 'Archivo Black', sans-serif;
font-family: 'Roboto', sans-serif;
Roboto: light 300, regular 400, regular 400 italic, bold 700
***********/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.8;
}
.navbar-light .navbar-brand {
	font-size: 1rem;
	font-weight: 700;
}
.navbar-light .navbar-brand span {
	font-weight: 400;
}
.jumbotron {
	padding: 3rem 0;
	margin-bottom: 3.7rem;
}
.articleTitle {
	font-size: 1.333rem;
	line-height: 1.25;
	font-family: 'Archivo Black', sans-serif;
}
.jumbotron .container p {
	margin-bottom: 0;
}
p {
	margin-bottom: 3rem;
}
img {
	margin-bottom: 1.05rem;
}
.cutline {
	font-style: italic;
}
.flipNext {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.footer {
	background-color: lightgray;
	padding-top: 3.25rem;
	padding-bottom: 1.1rem;
	margin-top: 3rem;
}
.footer h3 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 1.333rem;
	line-height: 1.5;
}